node_modules/
dist/
coverage/
*.log

**/.env
!**/.env.example

apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/src/generated/

apps/web/node_modules/
apps/web/dist/

apps/api/node_modules/
apps/api/dist/

.vscode/
.idea/
.DS_Store
Thumbs.db
