PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
DATABASE_URL=file:./prisma/dev.db
CRAFTING_MIN_LEVEL=80

BATTLENET_REGION=eu
BATTLENET_LOCALE=de_DE
BATTLENET_CLIENT_ID=
BATTLENET_CLIENT_SECRET=
BATTLENET_REDIRECT_URI=http://localhost:4000/api/auth/battlenet/callback